.element__like {
    margin: auto 30px auto 0;
    width: 22px;
    height: 19px;
}

.element__like:hover {
    opacity: 0.5;
    fill:black;
}

.element__like.element__like_active {
    background: black;
}