.popup__container {
    width: 430px;
    height: 330px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 35px;
    box-sizing: border-box;
    border-radius: 10px;
}

@media screen and (max-width: 920px) {
    .popup__container {
        width: 282px;
        height: 322px;
        padding: 22px;
    }
}