.img-popup__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    align-self: flex-start;
    margin-top: 10px;
    margin: 0;
    padding: 0;
}