.profile__addbutton {
    border: 2px solid #FFFFFF;
    height: 50px;
    width: 150px;
    border-radius: 2px;
    background-color: black;
    align-self: center;
    margin: 0 0 0 auto;
    padding: 0;
}

.profile__addbutton:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 920px) {
    .profile__addbutton {
        width: 100%;
        max-width: 282px;
        margin: 0;
    }
}